In [1]:
import pandas as pd

In [3]:
# Creando `Series`, una de las estructuras más utilizadas en pandas
series = pd.Series([5,10,15,20,25])
series

0     5
1    10
2    15
3    20
4    25
dtype: int64

In [4]:
# Buscando por índice
series[3]

20

In [6]:
cad = pd.Series(['p', 'l', 'a','t','z', 'i'])
cad

0    p
1    l
2    a
3    t
4    z
5    i
dtype: object

In [7]:
# DataFrame
lista = ['Hola', 'mundo']
df = pd.DataFrame(lista)
print(df)

       0
0   Hola
1  mundo

In [11]:
# Creamos un diccionario 
data = { 'Nombre' : ['Nico', 'Chica'], 'Edad' : [23,9], 'Pais': ['Chile', 'Chile']}
# Creamos un dataframe a partir del diccionario
df = pd.DataFrame(data)
print(df)

<class 'dict'>

  Nombre  Edad   Pais
0   Nico    23  Chile
1  Chica     9  Chile

In [12]:
print(df[['Nombre', 'Pais']])

  Nombre   Pais
0   Nico  Chile
1  Chica  Chile

In [15]:
# Leyendo csv
data = pd.read_csv('datasets/canciones-2018.csv')
data.head()

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,6DCZcSspjsKoFjzjrWoCd,God's Plan,Drake,0.754,0.449,7.0,-9.211,1.0,0.1090,0.0332,0.000083,0.552,0.357,77.169,198973.0,4.0
1,3ee8Jmje8o58CHK66QrVC,SAD!,XXXTENTACION,0.740,0.613,8.0,-4.880,1.0,0.1450,0.2580,0.003720,0.123,0.473,75.023,166606.0,4.0
2,0e7ipj03S05BNilyu5bRz,rockstar (feat. 21 Savage),Post Malone,0.587,0.535,5.0,-6.090,0.0,0.0898,0.1170,0.000066,0.131,0.140,159.847,218147.0,4.0
3,3swc6WTsr7rl9DqQKQA55,Psycho (feat. Ty Dolla $ign),Post Malone,0.739,0.559,8.0,-8.011,1.0,0.1170,0.5800,0.000000,0.112,0.439,140.124,221440.0,4.0
4,2G7V7zsVDxg1yRsu7Ew9R,In My Feelings,Drake,0.835,0.626,1.0,-5.833,1.0,0.1250,0.0589,0.000060,0.396,0.350,91.030,217925.0,4.0

In [18]:
# Asignando 1 columna del dataset a una variable
artista = data.artists
artista[5]

'Post Malone'

In [20]:
# Describe el tipo de dato en una posición en particular
info = data.iloc[15]
info

id                     3GCdLUSnKSMJhs4Tj6CV3
name                All The Stars (with SZA)
artists                       Kendrick Lamar
danceability                           0.698
energy                                 0.633
key                                        8
loudness                              -4.946
mode                                       1
speechiness                           0.0597
acousticness                          0.0605
instrumentalness                    0.000194
liveness                              0.0926
valence                                0.552
tempo                                 96.924
duration_ms                           232187
time_signature                             4
Name: 15, dtype: object

In [21]:
# Analizando el dataset
data.shape

(100, 16)

In [22]:
# Para estadística descriptiva
data.describe()

,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
count,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00
mean,0.71646,0.659060,5.330000,-5.677640,0.590000,0.115569,0.195701,0.001584,0.158302,0.484443,119.904180,205206.780000,3.98
std,0.13107,0.145067,3.676447,1.777577,0.494311,0.104527,0.220946,0.013449,0.111662,0.206145,28.795984,40007.893404,0.20
min,0.25800,0.296000,0.000000,-10.109000,0.000000,0.023200,0.000282,0.000000,0.021500,0.079600,64.934000,95467.000000,3.00
25%,0.63550,0.562000,1.750000,-6.650500,0.000000,0.045350,0.040225,0.000000,0.094675,0.341000,95.730750,184680.000000,4.00
50%,0.73300,0.678000,5.000000,-5.566500,1.000000,0.074950,0.109000,0.000000,0.118500,0.470500,120.116000,205047.500000,4.00
75%,0.79825,0.772250,8.250000,-4.363750,1.000000,0.137000,0.247750,0.000031,0.170750,0.641500,140.022750,221493.250000,4.00
max,0.96400,0.909000,11.000000,-2.384000,1.000000,0.530000,0.934000,0.134000,0.636000,0.931000,198.075000,417920.000000,5.00